/* You can add global styles to this file, and also import other style files */
@import './theme';

html, body { 
    height: 100%;
    font-size: 0.9em;
}

body {
    margin: 0;
    background-color: var(--background-color);
}

a.footerlink {
    margin-right: 1em;
}

.floatcenter {
    display: inline-block;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.mat-expansion-panel-header-title {
    width: 20%;
    align-items: center;
}

.mat-expansion-panel-header-description {
    width: 80%;
    align-items: center;
}

.mat-expansion-panel-body {
    padding-top: 6px !important;
}

body .snackbar-success {
    display: flex;
    justify-content: center;
}
  
body .snackbar-failed {
    display: flex;
    justify-content: center;
}

.mat-card.margin-5 {
    margin: 5px;
}

.changed {
    transition: color 0s ease-in, text-shadow 0s ease-in, background-color 1.1s linear 0s;
    text-shadow: #bbb 2px 2px 2px;
    color: rgb(255, 91, 91);
    font-weight: 600;
}

// adds breaks to the mat-checkboxes with long labels
.mat-checkbox-layout {
    white-space: normal !important;
}

// rather than center the checkbox, put the checkbox in the first line
.mat-checkbox-inner-container {
    margin-top: 3px !important;
}

.title {
    font-weight: bold;
}

.mat-checkbox-layout .mat-checkbox-label {
    line-height: 20px !important;
}

@media (max-width:599px) {
    
    .mat-expansion-panel-header {
        padding: 0 12px !important;
    }

    .mat-expansion-panel-header-title {
        width: 40%;
        margin-right: 8px !important;
        padding: 0px !important;
    }

    .mat-expansion-panel-header-description {
        width: 60%;
    }

    .mat-expansion-panel-body {
        padding-right: 12px !important;
        padding-left: 12px !important;
        padding-top: 6px !important;
    }

    .mat-card {
        padding: 12px 8px 12px !important;
    }

    .mat-dialog-container {
        padding: 12px !important;
    }
}
